<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>Educenter</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="/plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="/plugins/themify-icons/themify-icons.css">
  <!-- animation css -->
  <link rel="stylesheet" href="/plugins/animate/animate.css">
  <!-- aos -->
  <link rel="stylesheet" href="/plugins/aos/aos.css">
  <!-- venobox popup -->
  <link rel="stylesheet" href="/plugins/venobox/venobox.css">

  <!-- Main Stylesheet -->
  <link href="/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />

  <!--Favicon-->
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <link rel="icon" href="/images/favicon.png" type="image/x-icon">

</head>

<body>
  <!-- preloader start -->
  <div class="preloader">
    <img src="/images/preloader.gif" alt="preloader">
  </div>
  <!-- preloader end -->
<%-include('header1')%>
<!-- header -->

<!-- /header -->

<!-- Modal -->

<!-- hero slider -->

<!-- /hero slider -->

<!-- page title -->
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">Upcoming Events</a></li>
          <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- courses -->
<section class="section">
  <div class="container">
    <div class="row">
      <!-- event -->
      <% if(db_rows_array.length>0){%>
        <% for(var i=0; i<db_rows_array.length;i++) {%>

      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card border-0 rounded-0 hover-shadow">
          <div class="card-img position-relative">
            <img class="card-img-top rounded-0" src="<%=db_rows_array[i].event_photo%>"  width="500px" height="300px" alt="event thumb">
            
          </div>
          <div class="card-body">
            <a href="event-single.html">
                <h4 class="card-title"><%=db_rows_array[i].event_name%></h4>
                <input type="hidden" name="category_id" value="<?=db_rows_array[i].category_id%>" />
              </a>
            <!-- location -->
            <p><i class="ti-location-pin text-primary mr-2"></i><%=db_rows_array[i].event_venue%></p>
            <p><%=db_rows_array[i].event_from_date%>-<%=db_rows_array[i].event_to_date%></p> 
            <!-- <a href="/studentbooking/<%= db_rows_array[i].event_id%>" class="btn btn-primary btn-sm">Book now</a> -->
            <a onclick="confirmar('<%= db_rows_array[i].event_id%>')" class="btn btn-primary btn-sm">Book now</a>
            
            <a href="/eventdetails/<%= db_rows_array[i].event_id%>/<%= db_rows_array[i].category_id%>" class="btn btn-danger btn-sm">More Info</a>
          </div>
          
        </div>
      </div>
      <% } %>
      <%}else{%>
        No Record Found
        <%}%>
        <script
        src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.14/dist/sweetalert2.all.min.js"></script>

      <script>
        function confirmar(id) {
          Swal.fire({
            title:'Are You Sure You want to Book this Event ?',
            icon:'warning',
            showCancelButton: true,
            confirmButtonColor:'#3085d6',
            cancelButtonColor:'#d33',
            confirmButtonText: 'Confirm'
          }).then((result) => {
            if (result.isConfirmed) {
              window.location = '/studentbooking/'+id;
            } 
          })
        }
      </script>
<!-- // 4rh card design --> 
  
    </div>
  </div>
</section>
<!-- /courses -->

<!-- footer -->
<%-include('footer')%>
<!-- /footer -->

<!-- jQuery -->
<script src="/plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="/plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="/plugins/slick/slick.min.js"></script>
<!-- aos -->
<script src="/plugins/aos/aos.js"></script>
<!-- venobox popup -->
<script src="/plugins/venobox/venobox.min.js"></script>
<!-- filter -->
<script src="/plugins/filterizr/jquery.filterizr.min.js"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
<script src="/plugins/google-map/gmap.js"></script>

<!-- Main Script -->
<script src="/js/script.js"></script>

</body>
</html>